@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
       

            <div style ="position: absolute; width: 500px; left: 550px;">
                <h2>You ask for a hamburger</h2>
                <p>
                    &emsp;&emsp; You ask for a hamburger, I give you a hamburger. You raise it to your lips and take a bite. Your eye twitches involuntarily. 
                    Across the street a father of three falls down the stairs. You swallow and look down at the hamburger in your hands.
                </p>
                <p>
                    &emsp;&emsp; I give you a hamburger. You swallow and look down at the hamburger in your hands. You cannot swallow. 
                    There are children at the top of the stairs. A pickle shifts uneasily under the bun. I give you a hamburger. 
                    You look at my face, and I am pleading with you. The children are crying now. 
                    You raise the hamburger to your lips, tears stream down your face as you take a bite.
                </p>
                <p>
                    &emsp;&emsp; I give you a hamburger. You are on your knees. You plead with me to go across the street. 
                    I hear only children's laughter. I give you a hamburger. You are screaming as you fall down the stairs. I am your child. 
                    You cannot see anything. You take a bite of the hamburger. The concrete rushes up to meet you. You awake with a start in your own bed. 
                    Your eye twitches involuntarily. I give you a hamburger. As you kill me, I do not make a sound. I give you a hamburger.
                </p>

            </div>

            <img src="~/Content/comp.png" style="float: left; width: 500px; height: 366px; margin-top: 50px;" />
        </div>

</div>