<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c4784f58-3041-4bd6-9f1f-7dd7cf6ff191/resourcegroups/GPUtestGroupLast/providers/Microsoft.Web/sites/GPUTest</ResourceId>
    <ResourceGroup>GPUtestGroupLast</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gputest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gputest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GPUTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GPUTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="True">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Pebbles\Documents\Visual Studio 2017\Projects\GPUTest2\GPUTest2\App_Data\DataContext.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GPUTest2.DLA.DataContext, GPUTest2" MigrationConfiguration="GPUTest2.Migrations.Configuration, GPUTest2" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\Pebbles\Documents\Visual Studio 2017\Projects\GPUTest2\GPUTest2\App_Data\DataContext.mdf";Integrated Security=True;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DataContext" />
  </ItemGroup>
</Project>