<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c4784f58-3041-4bd6-9f1f-7dd7cf6ff191/resourceGroups/DataBase153/providers/Microsoft.Web/sites/Qubtiply</ResourceId>
    <ResourceGroup>DataBase153</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://qubtiply.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>qubtiply.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Qubtiply</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Qubtiply</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=test153.database.windows.net;Initial Catalog=Demo153;Persist Security Info=True;User ID=test153;Password=!Caramida00;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GPUTest2.DLA.DataContext, GPUTest2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Data Source=test153.database.windows.net;Initial Catalog=Demo153;Persist Security Info=True;User ID=test153;Password=!Caramida00;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Data Source=test153.database.windows.net;Initial Catalog=Demo153;Persist Security Info=True;User ID=test153;Password=!I723vmn5;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Data Source=mssql5.gear.host;Initial Catalog=qubtiply;Persist Security Info=True;User ID=qubtiply;Password=!Caramida00;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Data Source=mssql5.gear.host;Initial Catalog=qubtiply;Persist Security Info=True;User ID=sinex153;Password=!I723vmn5;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Data Source=mssql5.gear.host;Initial Catalog=qubtiply;Persist Security Info=True;User ID=sinex153;Password=!I723vmn5;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:test153.database.windows.net,1433;Initial Catalog=Demo153;Persist Security Info=True;User ID=test153;Password=!Caramida00;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>